<!-- generic_ctm_modal.html -->
{% extends 'form_modal/reusable_modal.html' %}

{% block modal_body %}
<div class="modal-body">
  <!-- Begin common CTM form elements -->
  <form>
    <!-- CTM Dropdown -->
    <div class="mb-3">
      <label for="ctmField" class="form-label">CTM</label>
      <select class="form-select" id="ctmField" name="ctm">
        {% for ctm in ctm_choices %}
        <option value="{{ ctm.value }}">{{ ctm.display }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Lot # -->
    <div class="mb-3">
      <label for="lotField" class="form-label">Lot #</label>
      <input type="text" class="form-control" id="lotField" name="lot_number">
    </div>

    <!-- Quantity -->
    <div class="mb-3">
      <label for="quantityField" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="quantityField" name="quantity">
    </div>

    <!-- Expiration Date -->
    <div class="mb-3">
      <label for="expirationDateField" class="form-label">Expiration Date</label>
      <input type="date" class="form-control" id="expirationDateField" name="expiration_date">
    </div>
  </form>
  <!-- End common CTM form elements -->
</div>
{% endblock modal_body %}

