<!-- reusable_modal.html -->
{% block modal %}
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {% block modal_header %}
      <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center; padding: 0.5rem;">
        <h5 class="modal-title" id="{{ modal_id }}Label" style="margin-left: 1rem;">{{ modal_title }}</h5>
        <div>
          <button type="button" class="btn btn-primary" id="saveButton">{{ modal_save_button_text | default:"Save" }}</button>
          <button type="button" class="btn btn-secondary" id="saveAddNewButton">{{ modal_save_add_new_button_text | default:"Save and Add New" }}</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" style="margin-right: 1rem;">Close</button>
        </div>
      </div>
      {% endblock modal_header %}
      {% block modal_body %}
      <div class="modal-body">
        <!-- Content for the modal goes here, override this block in child templates -->
      </div>
      {% endblock modal_body %}
    </div>
  </div>
</div>
{% endblock modal %}



