{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block body %}

<h1>{% trans "Sign In" %}</h1>

<p>If you have not created an account yet, then please <a href="{% url 'account_signup' %}">{% trans "sign up" %}</a> first.</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
{% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{% trans "Sign In" %}</button>
</form>

<p><a class="forgot-password" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>

{% endblock %}

