{% extends "core/base_generic.html" %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <header>
        <ul class="sub-navigation">
            <li><a href="{% url 'ctm_tracking:drug_inventory' %}">Drug / Device Inventory</a></li>
            <li><a href="{% url 'ctm_tracking:drug_shipments' %}">Drug Shipments</a></li>
            <li><a href="{% url 'ctm_tracking:drug_request' %}">Drug Request</a></li>
            <li><a href="{% url 'ctm_tracking:accountability' %}">Accountability</a></li>
            <li><a href="{% url 'ctm_tracking:final_disposition' %}">Final Disposition</a></li>
        </ul>
    </header>
    {% block ctm_content %}{% endblock %}
{% endblock %}
