{#{% extends "main/header.html" %}#}
{##}
{#{% block content %}#}
{#<h2>Forgot password</h2>#}
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Reset my password</button>#}
{#</form>#}
{#{% endblock %}#}
{% extends "account/../../../templates/main/header.html" %}

{% block content %}
  <h2>Reset Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset password</button>
  </form>
{% endblock %}
