{% extends 'base_generic.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <select id="ctmType" name="ctm_type">
        <option value="">--Select a Type--</option>
        <option value="Bulk">Bulk</option>
        <option value="Individual">Individual</option>
    </select>

    <div id="bulkCtmForm" style="display:none;">
        <input type="hidden" name="ctm_type" value="Bulk">  <!-- Added this line -->
        {{ bulk_form.as_p }}
    </div>

    <div id="individualCtmForm" style="display:none;">
        <input type="hidden" name="ctm_type" value="Individual">  <!-- Added this line -->
        {{ individual_form.as_p }}
    </div>

    <button type="submit">Submit</button>
</form>
{% endblock %}

{% block extra_script %}
<script>
    document.getElementById("ctmType").addEventListener("change", function() {
        var type = this.value;

        document.getElementById("bulkCtmForm").style.display = "none";
        document.getElementById("individualCtmForm").style.display = "none";

        if (type == 'Bulk') {
            document.getElementById("bulkCtmForm").style.display = "block";
        } else if (type == 'Individual') {
            document.getElementById("individualCtmForm").style.display = "block";
        }

        $(".datepicker").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
{% endblock %}


