{% extends 'supplier/supplier_base_generic.html' %}

{% block supplier_content %}
    <h1>Create Inventory</h1>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h2>Add CTM</h2>
    <select id="ctm_type" onchange="toggleCTMType()">
        <option value="">--Select a Type--</option>
        <option value="bulk">Bulk</option>
        <option value="individual">Individual</option>
    </select>

    <div id="bulk_form" style="display: none;"> <!-- Change display to none -->
        <form method="post" action="{% url 'supplier:create_inventory' %}">
            {% csrf_token %}
            <input type="hidden" name="ctm_type" value="bulk">  <!-- This line is added -->
            {{ bulk_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="individual_form" style="display: none;">
        <form method="post" action="{% url 'supplier:create_inventory' %}" onsubmit="return validateForm();">
            {% csrf_token %}
            <input type="hidden" name="ctm_type" value="individual">
            {{ individual_form.as_p }}
            <div class="error-message" id="kitNumberError" style="color: red;"></div>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}

{% block extra_style %}
<script>
    function toggleCTMType() {
        var ctmType = document.getElementById('ctm_type').value;

        // Hide both forms initially
        document.getElementById('bulk_form').style.display = 'none';
        document.getElementById('individual_form').style.display = 'none';

        // Only display the selected form
        if (ctmType == 'bulk') {
            document.getElementById('bulk_form').style.display = 'block';
        } else if (ctmType == 'individual') {
            document.getElementById('individual_form').style.display = 'block';
        }

        // Initialize datepicker for the selected form
        $(".datepicker").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    }

    function validateForm() {
    const kitNumberInput = document.querySelector("[name='individual-kit_serial_number']");
    const kitNumberErrorDiv = document.getElementById("kitNumberError");
    if (kitNumberInput.value === "") {
        kitNumberErrorDiv.textContent = "Please fill out this field.";
        return false;
    }

    {% for message in messages %}
        if ("{{ message }}" === "Form is not valid.") {
            kitNumberErrorDiv.textContent = "Kit number already exists.";
            return false;
        }
    {% endfor %}

    return true;
}

</script>


{% endblock %}




