{% extends 'supplier/supplier_base_generic.html' %}

{% load static %} <!-- Ensure static is loaded to use static file references -->

{% block supplier_content %}
<h1>Depot Inventory Shipments</h1>

<form method="post" id="depotInventoryForm">
    {% csrf_token %}

    <div class="fieldWrapper">
        {{ form.depot.label_tag }} {{ form.depot }}
    </div>

    <!-- Add the new buttons for CTM -->
    <div class="buttonsWrapper">
        <!-- Individual CTM Button -->
        <button type="button" class="btn btn-primary" id="addIndividualCTMButton" data-bs-toggle="modal" data-bs-target="#individualCTMModal">
            Add Individual CTM
        </button>
        <!-- Bulk CTM Button with modal trigger -->
        <button type="button" class="btn btn-primary" id="addBulkCTMButton" data-bs-toggle="modal" data-bs-target="#bulkCTMModal">
            Add Bulk CTM
        </button>
    </div>

</form>

<!-- Individual CTM Modal -->
{% include 'form_modal/individual_ctm_modal.html' with modal_id='individualCTMModal' modal_title='Add/Edit Individual CTM' modal_save_button_text='Save' unique_ctm_names=unique_individual_ctm_names %}

<!-- Bulk CTM Modal -->
{% include 'form_modal/bulk_ctm_modal.html' with modal_id='bulkCTMModal' modal_title='Add/Edit Bulk CTM' modal_save_button_text='Save' unique_bulk_ctm_names=unique_bulk_ctm_names %}

{% endblock %}

{% block extra_script %}
<script src="{% static 'js/modal-handler.js' %}"></script>
<script id="ctmsWithKitsData" type="application/json">{{ ctms_with_kits_json }}</script>
<script id="bulkCtmsData" type="application/json">{{ bulk_ctms_json }}</script> <!-- Add this line -->
<script src="{% static 'js/update_individual_ctm_fields.js' %}"></script>
<script src="{% static 'js/update_bulk_ctm_fields.js' %}"></script>
{% endblock %}



