{% extends "core/base_generic.html" %}

{% load static %}

{% block extra_css %}
    <!-- Placeholder for child templates to inject CSS -->
{% endblock %}

{% block nav %}
    <!-- The Supplier navigation can be included here if it's different from the core/base_generic.html -->
{% endblock %}

{% block content %}
    <!-- This block will be overridden by the child template with its specific content -->
    {% block supplier_content %}
    {% endblock %}
{% endblock %}

{% block extra_js %}
    <!-- Placeholder for child templates to inject JavaScript -->
{% endblock %}

